<section class="parking-section">
    <article class="tagline-container">
        <div class="tagline">
            <h2> Search car parking </h2>
            <h2><i class="fas fa-ellipsis-h"></i></i></h2> 
            <button class="btn parking-search-button" ng-click="findGeo()">Near you</button>
            <h2><i class="fas fa-ellipsis-h"></i></i></h2> 
            <button class="btn parking-search-button" ng-click="findLocality()">By locality name</button>
        <h2><i class="fas fa-ellipsis-h"></i></h2>
        <button class="btn parking-search-button" ng-click="searchingParking()">Anywhere in Helsingborg</button>
        </div>
    </article>
</section>