<section class="parking-section">
    <div class="container">
        <h2 class="sub-heading">PARKING IN HELSINGBORG</h2> 
        <h5>To return back to list view,
            <a class="btn parking-return-button" ng-click="showParkingList()">click here</a></h5>
        <div class="map-parking" style="text-align: center">
            <iframe src="https://helsingborg.opendatasoft.com/explore/embed/dataset/parkering_new/map/?location=14,56.04701,12.69755&basemap=jawg.streets&dataChart=eyJxdWVyaWVzIjpbeyJjb25maWciOnsiZGF0YXNldCI6InBhcmtlcmluZ19uZXciLCJvcHRpb25zIjp7fX0sImNoYXJ0cyI6W3siYWxpZ25Nb250aCI6dHJ1ZSwidHlwZSI6ImNvbHVtbiIsImZ1bmMiOiJBVkciLCJ5QXhpcyI6InRheGEiLCJzY2llbnRpZmljRGlzcGxheSI6dHJ1ZSwiY29sb3IiOiIjNjZjMmE1In1dLCJ4QXhpcyI6InBsYXRzIiwibWF4cG9pbnRzIjo1MCwic29ydCI6IiJ9XSwidGltZXNjYWxlIjoiIiwiZGlzcGxheUxlZ2VuZCI6dHJ1ZSwiYWxpZ25Nb250aCI6dHJ1ZX0%3D&static=false&datasetcard=false&scrollWheelZoom=false"
                width="800" height="600" frameborder="10"></iframe>
        </div>
    </div>
</section>