<section class="parking-section">
    <article class="container">
        <h2>PARKING SPOTS IN {{upperCaseParkingSpot}} </h2>
        <h5>To go back to search page, <button class="btn parking-return-button" ng-click="returnLocalityList()">click here</button></h5>
        <div id='parking-map' class="map-parking" ></div>
            <!--
        <div class="card parking-card" ng-repeat="parking in displayData">-->
            <!-- <div ng-if="parking.fields.status=='AKTIV'">-->
      <!--      <div class="card-header parking-card-header">
                <h3>Parking</h3>
            </div>-->
            <!-- <div class="card-body parking-card-body">
                <h4 class="card-title"> {{parking.fields.taxa}}kr/tim för {{parking.fields.tid}} [ Kl.
                    {{parking.fields.avgift}} ] </h4>
                <h4 class="card-title">Antal platser {{parking.fields.antal_p}}</h4>
                <h5 class="card-text"></h5>
                <p class="card-text" ng-model="latInMap"> Latitude: {{parking.geometry.coordinates[0]}}</p>
                <p class="card-text" ng-model="lonInMap"> Longitude: {{parking.geometry.coordinates[1]}}</p>

                <a class="btn btn-primary" href="template/onlyparking.html" target="_blank">See map</a>
                -->
            <!--trying to add map using a class"parking-map"-->
            <!-- <div class="parking-map">Map</div>-->
            <!-- </div> -->

            <!--  Iteration ends-->
            <!--     <p><br></p>-->
            <!--  insert gap between 2 cards -->
      <!--  </div>-->
        
    </article>
</section>